<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translation Processes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
    <sly data-sly-call="${clientLib.all @ categories='coralui3'}"></sly>
    <sly data-sly-call="${clientLib.all @ categories='granite.ui.foundation.content'}"></sly>
</head>
<body class="coral--light foundation-layout-util-maximized-alt">
<div class="foundation-layout-panel">
    <div class="foundation-layout-panel-bodywrapper spectrum-ready">
        <div class="foundation-layout-panel-body">
            <div class="foundation-layout-panel-content foundation-layout-form foundation-layout-form-mode-edit">
                <div class="cq-dialog-content-page">
                    <sly data-sly-use.model="com.composum.ai.aem.core.impl.autotranslate.AutoTranslateListModel">
                        <div class="coral-FixedColumn">
                            <div class="coral-FixedColumn-column">
                                <form class="coral-Form coral-Form--vertical foundation-form"
                                      action="/apps/composum-ai/components/autotranslate/list.create.html" method="GET">
                                    <h2>Translation Processes</h2>
                                    <div class="form-group">
                                        <label for="path">Path:</label>
                                        <input type="text" class="form-control" id="path" name="path" required
                                               size="80">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="recursive"
                                                   name="recursive" checked="checked">
                                            <label class="form-check-label" for="recursive">Recursive</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="translateWhenChanged"
                                                   name="translateWhenChanged" checked="checked">
                                            <label class="form-check-label" for="translateWhenChanged">Re-translate
                                                changed values</label>
                                        </div>
                                    </div>
                                    <!-- a text area with additional system instructions. -->
                                    <div class="form-group">
                                        <label for="additionalInstructions">Optionally, additional instructions:</label>
                                        <br/>
                                        <textarea class="form-control" id="additionalInstructions"
                                                  name="additionalInstructions" rows="3" cols="80"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Start Translation Process</button>
                                </form>
                                <hr>
                                <table class="table mt-3">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Status</th>
                                        <th>Translation root path</th>
                                    </tr>
                                    </thead>
                                    <tbody data-sly-list="${model.translationRuns}">
                                    <tr>
                                        <td>${item.status}</td>
                                        <td>
                                            <a href="/apps/composum-ai/components/autotranslate/run.html/${item.id}">${item.rootPath}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <form action="/apps/composum-ai/components/autotranslate/list.rollback.html"
                                      method="GET">
                                    <div class="form-group">
                                        <label for="path">Rollback for path:</label>
                                        <input type="text" class="form-control" id="path" name="path" required
                                               size="80">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Rollback Translation Results</button>
                                </form>
                            </div>
                        </div>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
