<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rolling back translation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
    <sly data-sly-call="${clientLib.css @ categories='coralui3,granite.ui.foundation.content'}"></sly>
</head>
<body class="coral--light foundation-layout-util-maximized-alt">
<div class="foundation-layout-panel">
    <div class="foundation-layout-panel-bodywrapper spectrum-ready">
        <div class="foundation-layout-panel-body">
            <div class="foundation-layout-panel-content foundation-layout-form foundation-layout-form-mode-edit">
                <div class="cq-dialog-content-page">
                    <sly data-sly-use.model="com.composum.ai.aem.core.impl.autotranslate.AutoTranslateListModel"
                         data-sly-set.result="${model.rollback}">
                        <div class="coral-FixedColumn">
                            <div class="coral-FixedColumn-column">
                                <form class="coral-Form coral-Form--vertical foundation-form"
                                      action="list.html" method="GET">
                                    <input type="hidden" name="_charset_" value="utf-8">
                                    <section class="coral-Form-fieldset"><h2
                                                class="coral-Form-fieldset-legend">Translation rollback</h2>
                                        <span class="foundation-field-readonly coral-Form-fieldwrapper">
                                            <span class="coral-Form-field foundation-layout-util-breakword">
                                                The translation was ${result}.
                                                </span>
                                        </span>
                                        <button type="submit" class="coral-Button coral-Button--primary">
                                            Back to translation start page.
                                        </button>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</div>
<sly data-sly-call="${clientLib.js @ categories='coralui3,granite.ui.foundation.content'}"></sly>
</body>
</html>
