del, del * {
    background-color: #FFC0C0;
    text-decoration: line-through;
}

span.ins, span.ins * {
    background-color: #C0FFC0;
    text-decoration: underline;
}

tr.row-separator td.row-separator {
    background-color: lightgray;
}

tr.property-row td {
    vertical-align: top;
    width: 15%;
}

body.show-diffs .previoussrc, body.show-diffs .newsrc {
    display: none;
}

body.hide-diffs .srcdiffs {
    display: none;
}

body.hide-currenttext .currenttext {
    display:none;
}

.rte-container {
    position: relative;
}

.rte-toolbar {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    height: 28px;
    margin-bottom: 4px;
}

.rte-container .rte-toolbar button {
    margin-left: 0px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 1;
}

.modal-content {
    width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4); /* Enhanced shadow for depth */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.modal-backdrop.hidden {
    display: none;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.modal-content select {
    padding: 5px;
    margin-top: 5px;
}

.modal-content button {
    margin-top: 5px;
    padding: 5px 10px;
}

.modal-content .modal-actions {
    margin-top: 20px;
}

.modal-content .path-link-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.coral--light .modal-content .path-link-wrapper button {
    border-width: 1px;
    border-color: #e1e1e1;
    border-left-color: transparent;
    border-radius: 4px;
}

.rte-editor {
    border: 1px solid #ccc;
    padding: 8px;
    overflow-y: auto;
    resize: vertical;
}

.propertytable, .bottombar {
    margin-bottom: 0.625rem;
}

.bottombar {
    position: sticky;
    bottom: 0;
    padding: 0.625rem;
    margin: 0px;
}

.bottombar a {
    padding-right: 14px;
}

.merged td {
    background-color: #e6ffe6 !important;
    opacity: 40%;
}

.spinner {
    display: none;
}

.activespinner .spinner {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 1px;
}

textarea {
    width: 100%;
    margin-top: 1em;
}

.show-diffs .toggle-diffs {
    background-color: lightgray;
}

.show-currenttext .toggle-current {
    background-color: lightgray;
}

.coral--light ._coral-Table-cell.diffscolor {
    background-color: #ffffe0;
}

.coral--light ._coral-Table-cell.currenttext {
    background-color: #f0ffff;
}

.actionrow td {
    border-top-width: 0px !important;
}
