<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translation Merge UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
    <sly data-sly-call="${clientLib.css @ categories='coralui3,granite.ui.foundation.content'}"></sly>
</head>
<body class="coral--light foundation-layout-util-maximized-alt">
<div class="foundation-layout-panel">
    <div class="foundation-layout-panel-bodywrapper spectrum-ready">
        <div class="foundation-layout-panel-body">
            <div class="foundation-layout-panel-content foundation-layout-form foundation-layout-form-mode-edit">
                <div class="cq-dialog-content-page">
                    <sly data-sly-use.model="com.composum.ai.aem.core.impl.autotranslate.AutoTranslateMergeModel">
                        <section class="coral-Form-fieldset">
                            <h2 class="coral-Form-fieldset-legend">Translation Merge UI</h2>
                        </section>
                        <hr>
                        <section class="coral-Form-fieldset">
                            <h2 class="coral-Form-fieldset-legend">Triggered Translations</h2>
                            <table is="coral-table">
                                <thead is="coral-table-head" sticky>
                                <tr is="coral-table-row">
                                    <th is="coral-table-headercell">Original Copy</th>
                                    <th is="coral-table-headercell">New Original Copy</th>
                                    <th is="coral-table-headercell">New Translated Copy</th>
                                    <th is="coral-table-headercell">Current Value</th>
                                </tr>
                                </thead>
                                <tbody is="coral-table-body">
                                <sly data-sly-list.property="${model.properties}">
                                    <tr is="coral-table-row">
                                        <td is="coral-table-cell" colspan="4">${property.path} ${property.wrapper.propertyName}</td>
                                    </tr>
                                    <tr is="coral-table-row">
                                        <td is="coral-table-cell">${property.wrapper.originalCopy @ context='html'}</td>
                                        <td is="coral-table-cell">${property.wrapper.newOriginalCopy @ context='html'}</td>
                                        <td is="coral-table-cell">${property.wrapper.newTranslatedCopy @ context='html'}</td>
                                        <td is="coral-table-cell">${property.wrapper.currentValue @ context='html'}</td>
                                    </tr>
                                </sly>
                                </tbody>
                            </table>
                        </section>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</div>
<sly data-sly-call="${clientLib.js @ categories='coralui3,granite.ui.foundation.content'}"></sly>
<script>
    $(document).ready(function () {
        console.log("Translation Merge Table Loaded");
    });
</script>
</body>
</html>
