<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autotranslate Model Comparison</title>
    <link rel="stylesheet" href="${resource.path}/autotranslatemodelcompare.css">
    <script src="${resource.path @ context='attribute'}/autotranslatemodelcompare.js" defer></script>
</head>
<body data-sly-use.model="com.composum.ai.aem.core.impl.autotranslate.AutotranslateModelCompareModel">
<div class="container-fluid">
    <h1>Autotranslate Model Comparison</h1>
    <p>This page demonstrates translation of text using multiple GPT models. Select the models, specify the target
        language, enter the text to translate, and click the button below to see the results.
        The translation can take a minute to complete, so please be patient.
    </p>
    <p data-sly-test="${model.error}" class="alert alert-danger" id="error-message">
        ${model.error}
    </p>
    <form method="post" action="#texttotranslate">
        <div class="form-group">
            <h3>Select Models</h3>
            <div class="d-flex flex-wrap align-items-center">
                <div id="static-models">
                    <sly data-sly-list.modelName="${model.models}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="selectedModels"
                                   id="model-${modelName}"
                                   value="${modelName}" checked>
                            <label class="form-check-label" for="model-${modelName}">
                                ${modelName}
                            </label>
                        </div>
                    </sly>
                    <span id="additional-models-container"></span>
                </div>
            </div>
            <input type="hidden" name=":cq_csrf_token">
            <div class="mt-2 form-inline">
                <button type="button" id="select-all" class="btn btn-secondary btn-sm" title="Select all translation models for trying out the translation">Select All</button>
                <button type="button" id="clear-all" class="btn btn-secondary btn-sm" title="Clear all selections of translation models">Clear All</button>
                <input type="text" id="additional-models" name="additionalModels" style="width: 70ex;"
                       placeholder="Additional Models: (comma separated list)" title="Enter additional translation models as a comma separated list. Use the backend ID as prefix, a colon and then the model ID.">
                (Active backends ${model.backendList @ context='text'} )
            </div>
        </div>

        <div class="form-group">
            <h3>Target Language</h3>
            <input type="text" id="target-language" name="targetLanguage" class="form-control" required title="Enter target language (e.g. as /content path, en, de, es-mx, French)"
                   placeholder="Enter target language (e.g. as /content path, en, de, es-mx, French)">
        </div>

        <div class="form-group">
            <details id="additional-instructions-details" title="Click to expand additional instructions text area">
                <summary title="Additional instructions (optional)">Additional Instructions (optional)</summary>
                <textarea id="additional-instructions" name="instructions" class="form-control" rows="3" placeholder="Enter additional instructions" title="Enter additional instructions for the translation process (optional)"></textarea>
            </details>
        </div>

        <div class="form-group">
            <h3 id="texttotranslate">Text to Translate</h3>
            <textarea id="translation-text" name="text" class="form-control" rows="5" required title="Enter the text you want to translate"
                      placeholder="Enter text to translate"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" id="submit-button" class="btn btn-primary" title="Translate text using all the selected models">Translate with all selected models
            </button>
            <span id="loading-spinner" style="display: none;">
                (Loading, please stand by...)
            </span>
        </div>
    </form>

    <div data-sly-test="${request.requestParameterMap['text']}" id="results">
        <h2>Translation Results</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Model</th>
                <th>Translation to ${model.parsedTargetLanguage}</th>
            </tr>
            </thead>
            <tbody>
            <sly data-sly-list.result="${model.results}">
                <tr>
                    <td>${result.model}<br>(${result.seconds} ms)</td>
                    <td>${result.translation}</td>
                </tr>
            </sly>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
