//== Move the create dialog icon a bit to the right to avoid overlapping with the help icon.
//== we make that horribly specific to override the default coral style there

.coral-Form--vertical .coral-Form-fieldwrapper .coral-Form-fieldinfo.composum-ai-iconshiftleft {
    right: 22px;
}

#composumAI-sidebar-panel .composum-ai-response {
    white-space: break-spaces;
}

.composum-ai-dialog .composum-ai-prompt-columns {

    display: flex; // AEM 6.5.7

    .coral-FixedColumn-column {
        width: auto;
        flex: 1;
    }

    .coral-Form-fieldset .coral-Form-fieldset-legend {
        margin-top: 0.5rem;
    }

    .coral-Form-fieldset {
        margin-bottom: 0;
    }

}

.cq-Dialog .composum-ai-dialog .composum-ai-prompt-columns {
    .cq-RichText-editable {
        height: 9.3rem; // AEM 6.5.7 appropriate default. AEMaaCS - 11.5rem ; we rather align via javascript
    }
}

.composum-ai-help {
    max-width: 55em;
}

.composum-ai-source-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#composumAI-sidebar-panel .betty-ActionBar {
    min-height: 48px;
}
